@using SimpleTaskManagerApp.ViewModels.Administrator
@model IEnumerable<AdminUserViewModel>

@{
	ViewData["Title"] = "Users";
}

<h2 class="mb-4">All Users</h2>

<table class="table table-bordered table-dark">
	<thead>
		<tr>
			<th>Email</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Role</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.Email</td>
				<td>@user.FirstName</td>
				<td>@user.LastName</td>
				<td>@(user.IsAdmin ? "Admin" : "User")</td>
				<td>
					@if (!user.IsAdmin)
					{
						<form asp-action="MakeAdmin" asp-controller="Users" asp-area="Administrator" method="post">
							<input type="hidden" name="id" value="@user.Id" />
							<button class="btn btn-sm btn-success" style="width:130px;" type="submit">Make Admin</button>
						</form>
					}
					else
					{
						<form asp-action="RemoveAdmin" asp-controller="Users" asp-area="Administrator" method="post">
							<input type="hidden" name="id" value="@user.Id" />
							<button class="btn btn-sm btn-danger" style="width:130px;" type="submit">Remove Admin</button>
						</form>
					}
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="text-center mb-3">
	<a asp-area="Administrator" asp-controller="Administrator" asp-action="Index" class="btn btn-outline-dark">
		← Back to Dashboard
	</a>
</div>
