@using SimpleTaskManagerApp.ViewModels.Administrator
@model IEnumerable<AdminUserViewModel>

@{
	ViewData["Title"] = "Users";
}


<div class="p-4 mb-3 bg-dark text-white rounded shadow">
	<h2 class="mb-4">All Users</h2>

	<table class="table table-dark table-bordered table-hover table-striped align-middle mb-0">
		<thead>
			<tr>
				<th>Email</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Role</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model)
			{
				<tr>
					<td>@user.Email</td>
					<td>@user.FirstName</td>
					<td>@user.LastName</td>
					<td>@(user.IsAdmin ? "Admin" : "User")</td>
					<td>
						@if (!user.IsAdmin)
						{
							<form asp-action="MakeAdmin" asp-controller="Users" asp-area="Administrator" method="post" style="display:inline-block;">
								@Html.AntiForgeryToken()
								<input type="hidden" name="id" value="@user.Id" />
								<button class="btn btn-sm btn-outline-success" style="width:130px;" type="submit">Make Admin</button>
							</form>
						}
						else
						{
							<form asp-action="RemoveAdmin" asp-controller="Users" asp-area="Administrator" method="post" style="display:inline-block;">
								@Html.AntiForgeryToken()
								<input type="hidden" name="id" value="@user.Id" />
								<button class="btn btn-sm btn-outline-danger" style="width:130px;" type="submit">Remove Admin</button>
							</form>
						}

						@if (!user.IsLockedOut)
						{
							<form asp-action="LockUser" asp-controller="Users" asp-area="Administrator" method="post" class="d-inline">
								@Html.AntiForgeryToken()
								<input type="hidden" name="id" value="@user.Id" />
								<button class="btn btn-outline-primary btn-sm" style="width:130px;">Block</button>
							</form>
						}
						else
						{
							<form asp-action="UnlockUser" asp-controller="Users" asp-area="Administrator" method="post" class="d-inline">
								@Html.AntiForgeryToken()
								<input type="hidden" name="id" value="@user.Id" />
								<button class="btn btn-primary btn-sm" style="width:130px;">Unblock</button>
							</form>
						}

						<form asp-action="Delete" asp-controller="Users" asp-area="Administrator" method="post" onsubmit="return confirm('Are you sure you want to delete this user?');" style="display:inline-block; margin-left:5px;">
							@Html.AntiForgeryToken()
							<input type="hidden" name="id" value="@user.Id" />
							<button class="btn btn-sm btn-outline-warning" type="submit">Delete</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div class="text-center mt-4">
		<a asp-area="Administrator" asp-controller="Administrator" asp-action="Index" class="btn btn-outline-light">
			← Back to Dashboard
		</a>
	</div>
</div>
