@using SimpleTaskManagerApp.ViewModels.AppTask
@model IEnumerable<AppTaskListViewModel>

@{
	ViewData["Title"] = "All Tasks";
}

<h1 class="mt-4">All Tasks</h1>

 @* Button for modal *@
<button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#createTaskModal">
    + Create Task
</button>

<table class="table table-bordered rounded border-dark border-2">
	<thead class="table-dark">
		<tr>
			<th>Title</th>
			<th>Status</th>
			<th>CreatedAt</th>
			<th>Due Date</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var task in Model)
		{
			<tr>
				<td>@task.Title</td>
				<td>@task.StatusName</td>
				<td>@task.CreatedAt</td>
				<td>@task.DueDate</td>
				<td>
					<a asp-action="Details" asp-route-id="@task.Id" class="btn btn-sm btn-info">Details</a>
					<a asp-action="Edit" asp-route-id="@task.Id" class="btn btn-sm btn-warning">Edit</a>
					<a asp-action="Delete" asp-route-id="@task.Id" class="btn btn-sm btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>